<div class="article-container">
	<div class="activity-info">
		<h1>活动名称</h1>
		<table>
			<tr>
				<td>活动时间:</td>
				<td>2016-7-21 至 2016-7-29</td>
			</tr>
			<tr>
				<td>报名截止时间:&nbsp;&nbsp;&nbsp;</td>
				<td>2016-7-28</td>
			</tr>
			<tr>
				<td>活动地点:</td>
				<td>清华大学软件学院</td>
			</tr>
		</table>
		<hr>
		这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。
		这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。
		这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。这是一个比较长的活动介绍，至少它有很多字。
	</div>
</div>
