<div class="article-container">
	<div class="activity-info">
		<h1>[[act_title]]</h1>
		<table>
			<tr>
				<td>发起人:</td>
				<td>[[act_adminName]]</td>
				<td rowspan="6">
					<div id="qrcode"></div>
				</td>
			</tr>
			<tr>
				<td>活动时间:</td>
				<td>[[act_startDate]] 至 [[act_endDate]]</td>
			</tr>
			<tr>
				<td>报名截止时间:&nbsp;&nbsp;&nbsp;</td>
				<td>[[act_entryDDL]]</td>
			</tr>
			<tr>
				<td>活动地点:</td>
				<td>[[act_location]]</td>
			</tr>
			<tr>
				<td>活动类型:</td>
				<td>[[act_type]]</td>
			</tr>
			<tr>
				<td>最大报名人数:</td>
				<td>[[act_maxRegister]]</td>
			</tr>
		</table>
		<hr>
		[[act_info]]
		<!-- JiaThis Button BEGIN -->
		
		<!-- JiaThis Button END -->	
		<br><br>
		<md-button ng-if="showParticipate" class="md-raised md-primary" ng-click="joinIn()">我要报名!</md-button>
		<md-button ng-if="showCancel" class="md-raised md-primary" ng-click="quit()">取消报名!</md-button>
		<div ng-if="isAdmin" class="activity-manage">
			<h3>已报名用户:</h3>
			<md-grid-list md-cols="8" md-gutter="1em" md-row-height="100px" class="user-list">
				<md-grid-tile ng-repeat="x in act_register track by $index">
					<div ng-click="jumpToUser($index, 0)">
						<img src="[[getAvatar($index, 0)]]">
						<div class="follow-name">[[x]]</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
			<h3>待审批用户:</h3>
			<md-grid-list md-cols="8" md-gutter="1em" md-row-height="100px" class="user-list">
				<md-grid-tile ng-repeat="x in act_unregister track by $index">
					<div ng-click="jumpToUser($index, 1)">
						<img src="[[getAvatar($index, 1)]]">
						<div class="follow-name">[[x]]</div>
					</div>
				</md-grid-tile>
			</md-grid-list>
			<br><br>
			<md-button class="md-raised md-primary" ng-click="modifyInfo()">管理活动</md-button>
			<md-button class="md-raised md-primary" ng-click="verifyUser()">审核用户</md-button>
			<md-button class="md-raised md-primary" ng-click="deleteAct()">删除活动</md-button>
		</div>
		<div class="share">
			<h4>分享此活动</h4>
			<div class="jiathis_style_24x24">
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_weixin"></a>
				<a class="jiathis_button_renren"></a>
				<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				<a class="jiathis_counter_style"></a>
			</div>
		</div>
	</div>
</div>
