<div class="article-container">
	<div class="activity-list">
		<h3>您的活动:</h3>
		<md-tabs md-center-tabs md-dynamic-height md-border-bottom class="login-tab">
			<md-tab label="您参加的活动" class="first-tab">
				<md-list>
					<div ng-repeat="x in user_inact" class="noright">
						<md-list-item ng-click="getActInfo($index, 0)">
							<p><span class="title">[[x.Title]]</span></p>
							<span class="location">[[x.Location]]</span>
							<span>[[x.StartTime]] - [[x.EndTime]]</span>
						</md-list-item>
						<md-list-item ng-click="getActInfo($index, 0)">
							[[x.Summary]]
						</md-list-item>
						<hr>
					</div>
				</md-list>
			</md-tab>
			<md-tab label="您创建的活动">
				<md-list>
					<div ng-repeat="x in user_organizedact" class="noright">
						<md-list-item ng-click="getActInfo($index, 1)">
							<p><span class="title">[[x.Title]]</span></p>
							<span class="location">[[x.Location]]</span>
							<span>[[x.StartTime]] - [[x.EndTime]]</span>
						</md-list-item>
						<md-list-item ng-click="getActInfo($index, 1)">
							[[x.Summary]]
						</md-list-item>
						<hr>
					</div>
				</md-list>
			</md-tab>
		<md-tabs>
	</div>
</div>
