<div class="article-container">
	<div class="homepage">
		<div flex layout="row" class="tmp">
			<md-content flex-gt-sm="70" id="content" layout="column">
				<div class="notice" ng-if="isFirstLogin">
					欢迎回来，点击&nbsp;<span class="jumpLink" ng-click="jumpBack()">链接</span>&nbsp;以跳转至&nbsp;<span class="jumpLink" ng-click="jumpBack()">[[lastUrl]]</span>
				</div>
				<h3>您可能对以下内容感兴趣:</h3>
				<div class="tags">
					<span class="tag" ng-repeat="x in user_suggest"><span ng-click="search(x)">[[x]]</span></span>
				</div>
				<h3 class="h3style">动态:</h3>
				<md-list ng-if="hasFollow">
				<hr>
					<div ng-repeat="x in timeline" class="noright">
						<div ng-if="x.type < 2">
							<md-list-item ng-click="jumptoUser(x.uid)">
								<img src="[[x.UAvatar]]" class="icon_img">
								<p>
									<span>[[x.user]]<span class="right-msg" ng-if="x.type == 1">参加</span><span class="right-msg" ng-if="x.type == 0">创建</span>了活动&nbsp;</span>
								</p>
								[[x.ago]]
							</md-list-item>
							<md-list-item ng-click="jumptoAct(x.aid)">
								[[x.act]]
							</md-list-item>
							<md-list-item ng-click="jumptoAct(x.aid)">
								[[x.summary]]
							</md-list-item>
						</div>
						<div ng-if="x.type == 2">
							<md-list-item class="follow-item">
								<p>
									<span>
										<span ng-click="jumptoUser(x.uid)" class="span-hover">
											<img src="[[x.UAvatar]]" class="icon_img">[[x.user]]
										</span>
										&nbsp;&nbsp;Follow了&nbsp;&nbsp;
									</span>
									<span ng-click="jumptoUser(x.aid)" ng-if="!isSelf(x.aid)" class="span-hover">
										<img src="[[x.AAvatar]]" class="icon_img">[[x.followedUser]]
									</span>
									<span ng-if="isSelf(x.aid)">你</span>
								</p>
								[[x.ago]]
							</md-list-item>
						</div>
					</div>
				</md-list>
				<div ng-if="!hasFollow">
					<h4>关注您的朋友来获得他们的动态</h4>
				</div>
			</md-content>
			<md-sidenav flex-gt-sm="30" md-is-locked-open="true" class="md-whiteframe-z2" id="side">
				<md-button class="md-raised md-primary" ng-click="createActivity()">创建一个活动!</md-button>
				<div class="user-info">
					<md-list>
						<md-list-item ng-click="getFollowList()">
							您follow了[[user_follow_num]]个人
						</md-list-item>
						<md-list-item ng-click="getActList()">
							您已报名[[user_activity_num]]个活动
						</md-list-item>
						<md-list-item ng-click="getActList()">
							您已创建[[user_organize_num]]个活动
						</md-list-item>
					</md-list>
				</div>
			</md-sidenav>
		</div>
	</div>
</div>
