<div class='login-container'>
  <div class="login-wrap">
    <div>
      <img class="logo" src="static/images/logo.png">
      <md-tabs md-center-tabs md-dynamic-height md-border-bottom class="login-tab">
        <md-tab label="登陆" class="first-tab">
          <br/>
          <md-input-container class="username-input">
            <label>登陆邮箱</label>
            <input type="text" ng-model="user_name">
          </md-input-container>
          <br/>
          <md-input-container class="password-input">
            <label>密码</label>
            <input type="password" ng-model="user_password" onkeydown='if(event.keyCode==13){document.getElementById("login-submit-btn").click()}'>
          </md-input-container>
          <br/>
          <md-button ng-click="login_user()" id="login-submit-btn" class="md-raised md-primary">Log in!</md-button>
        </md-tab>
        <md-tab label="注册">
          <br/>
          <md-input-container class="nickname-input">
            <label>昵称</label>
            <input type="text" ng-model="nickname" onfocus="$('.nickname-input #warning').css('display', 'inline')" onblur="$('.nickname-input #warning').css('display', 'none')">
            <div id="warning">昵称长度应在3-9之间</div>
          </md-input-container>
          <br/>
          <md-input-container class="password-input">
            <label>密码</label>
            <input type="password" ng-model="password" onfocus="$('.password-input #warning').css('display', 'inline')" onblur="$('.password-input #warning').css('display', 'none')">
            <div id="warning">密码长度应在6-18之间</div>
          </md-input-container>
          <br/>
          <md-input-container class="confirm-input">
            <label>确认密码</label>
            <input type="password" ng-model="confirm">
          </md-input-container>
          <br/>
          <md-input-container class="email-input">
            <label>登录邮箱</label>
            <input type="email" ng-model="privateemail">
          </md-input-container>
          <br/>
          <md-input-container class="public-email-input">
            <label>公开邮箱</label>
            <input type="email" ng-model="openemail" onkeydown='if(event.keyCode==13){document.getElementById("register-submit-btn").click()}'>
          </md-input-container>
          <br/>
          <md-button id="register-submit-btn" class="md-raised md-primary" ng-click="regist_user()">Register!</md-button>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
