<div class="article-container">
	<dir class="user-modifyinfo">
		<h1>修改个人信息</h1>
		<h4>请填写新密码</h4>
		<hr>
		<md-input-container class="username-input">
			<label>原密码</label>
			<input type="password" ng-model="user_orgin_pass">
		</md-input-container>
		<md-input-container class="username-input">
			<label>密码</label>
			<input type="password" ng-model="user_pass">
		</md-input-container>
		<md-input-container class="username-input">
			<label>确认密码</label>
			<input type="password" ng-model="confirm">
		</md-input-container>
		<md-button id="register-submit-btn" class="md-raised md-primary" ng-click="modifyPass()">Save!</md-button>
	</dir>
</div>
