<div class="article-container">
	<div class="user-info">
		<div flex layout="row" class="tmp">
			<md-content flex-gt-sm="70" id="content" layout="column">
				<div layout="row">
					<div class="left-col">
						<img src="[[user_avatar]]" class="icon">
					</div>
					<div class="right-col">
						<h1>[[user_name]]</h1>
						<h3><a ng-href="[[user_publicEmailLink]]">[[user_publicEmail]]</a></h3>
					</div>
				</div>
				<div class="detail">
					<div class="user-info">
						<h3>个人简介</h3>
						[[user_info]]
						<div ng-if="noInfo">这人很懒，什么也没留下</div>
					</div>
					<div class="user-activity">
						<h3>参加的活动</h3>
						<md-list flex>
							<div ng-repeat="x in user_inact" class="noright">
								<md-list-item ng-click="getActInfo($index, 0)">
									<p><span class="title">[[x.Title]]</span></p>
									<span class="location">[[x.Location]]</span>
									<span>[[x.StartTime]] - [[x.EndTime]]</span>
								</md-list-item>
								<md-list-item ng-click="getActInfo($index, 0)">
									[[x.Summary]]
								</md-list-item>
								<hr>
							</div>
						</md-list>
						<div ng-if="noInAct">该用户还未参加任何活动</div>
						<md-button class="md-raised md-primary" ng-if="isMe" ng-click="edit_user_info()">编辑信息</md-button>
						<md-button class="md-raised md-primary" ng-if="isShowFollow" ng-click="follow_user()">Follow</md-button>
						<md-button class="md-raised md-primary" ng-if="isShowUnFollow" ng-click="unfollow_user()">UnFollow</md-button>
					</div>
				</div>
			</md-content>
			<md-sidenav flex-gt-sm="30" md-is-locked-open="true" class="md-whiteframe-z2" id="side">
				<h3>You followed:</h3>
				<md-grid-list md-cols="3" md-gutter="1em" md-row-height="100px" class="follow-list">
					<md-grid-tile ng-repeat="x in user_follow">
						<div ng-click="jumpToUser($index, 0)">
							<img src="[[getAvatar($index, 0)]]">
							<div class="follow-name">[[x]]</div>
						</div>
					</md-grid-tile>
				</md-grid-list>
				<div ng-if="nofollow">你还未follow任何人<br></div>
				<h3>These people followed you:</h3>
				<md-grid-list md-cols="3" md-gutter="1em" md-row-height="100px" class="follow-list">
					<md-grid-tile ng-repeat="x in user_followed">
						<div ng-click="jumpToUser($index, 1)">
							<img src="[[getAvatar($index, 1)]]">
							<div class="follow-name">[[x]]</div>
						</div>
					</md-grid-tile>
				</md-grid-list>
				<div ng-if="nofollowed">还没有人follow了你</div>
			</md-sidenav>
		</div>
	</div>
</div>
