<div class="article-container">
	<div class="user-info">
		<div flex layout="row" class="tmp">
			<md-content flex-gt-sm="70" id="content" layout="column">
				<div layout="row">
					<div class="left-col" flex-gt-sm="20">
						<img src="/static/images/admin.png" class="icon">
					</div>
					<div class="right-col" flex-gt-sm="80">
						<h1>[[user_name]]</h1>
						<h3><a ng-href="[[user_publicEmailLink]]">[[user_publicEmail]]</a></h3>
					</div>
				</div>
				<div class="detail">
					<div class="user-info">
					[[user_info]]
					</div>
					<div class="user-activity">
						<h3>参加的活动</h3>
						<md-list flex>
							<md-list-item ng-repeat="x in user_inact"><a href="#">[[x]]</a></md-list-item>
						</md-list>
						<md-button class="md-raised md-primary" ng-if="isMe" ng-click="edit_user_info()">编辑信息</md-button>
						<md-button class="md-raised md-primary" ng-if="isShowFollow" ng-click="follow_user()">Follow</md-button>
						<md-button class="md-raised md-primary" ng-if="isShowUnFollow" ng-click="unfollow_user()">UnFollow</md-button>
					</div>
				</div>
			</md-content>
			<md-sidenav flex-gt-sm="30" md-is-locked-open="true" class="md-whiteframe-z2" id="side">
				<h3>You followed:</h3>
				<md-grid-list md-cols="3" md-gutter="1em" md-row-height="100px" class="follow-list">
					<md-grid-tile ng-repeat="x in user_follow">
						<img src="/static/images/admin.png">
						<md-grid-tile-footer><h3>[[x]]</h3></md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list>
				<h3>These people followed you:</h3>
				<md-grid-list md-cols="3" md-gutter="1em" md-row-height="100px" class="follow-list">
					<md-grid-tile ng-repeat="x in user_followed">
						<img src="/static/images/admin.png">
						<md-grid-tile-footer><h3>[[x]]</h3></md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list>
			</md-sidenav>
		</div>
	</div>
</div>
