<div class="article-container">
	<dir class="activity-verifyUser">
		<h1>管理活动报名人员</h1>
		<h4>请在下面表单中接纳或拒绝报名人员</h4>
		<hr>
		<md-list>
			<md-list-item ng-repeat="x in act_unregister" class="noright">
				<img src="/static/images/admin.png" class="icon">
				<p>[[x]]</p>
				<md-button class="md-raised md-primary" ng-click="checkMember($index, 1)">Accept</md-button>
				<md-button class="md-raised md-warn" ng-click="checkMember($index, 0)">Deny</md-button>
			</md-list-item>
		</md-list>
		<h4>已通过报名用户名单:</h4>
		<md-list>
			<md-list-item ng-repeat="x in act_register" class="noright">
				<img src="/static/images/admin.png" class="icon">
				<p>[[x]]</p>
			</md-list-item>
		</md-list>
	</dir>
</div>
