<div class="header-container" ng-controller="HeaderCtrl">
  <md-toolbar layout="row" class="toolbar">
    <div flex-gt-sm="20" class="left-col" ng-click="returnHome()">
      <h3 class="icon">Activity On</h3>
    </div>
    <div flex-gt-sm="55" class="mid-col">
      <md-input-container class="search">
        <label>输入要搜索的活动</label>
        <input class="search-input" ng-model="search" type="text">
      </md-input-container>
      <md-button class="search-btn" ng-click="getResult()">Search!</md-button>
    </div>
    <div flex-gt-sm="25" class="right-col">
      <img class="user-icon" ng-src="[[avatarUrl]]"  ng-click="infoDetail()">
      <div class="user-name" ng-click="infoDetail()">[[nickname]]</div>
      <div class="user-name" id="nickname_tmp" ng-click="logout()">点击登陆</div>
      <md-button id="log_btn" class="user-logout" title="登陆" ng-click="logout()">
        <i id="logout-img" class="fa fa-sign-in fa-2x"></i>
      </md-button>
      <md-button class="user-msg" title="信息" ng-click="messageList()">
        <i id="msg-img" class="fa fa-envelope fa-2x"></i>
      </md-button>
    </div>
  </md-toolbar>
</div>
